.pt-15 {
    padding-top: 15px;
}
.pt-25 {
    padding-top: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-70 {
    padding-top: 70px;
}
.pt-73 {
    padding-top: 73px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pl-30 {
    padding-left: 30px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-44 {
    margin-bottom: 44px;
}



@media only screen and (max-width: 991px) {
    .md-pl-0 {
        padding-left: 0;
    }
    .md-mb-30 {
        margin-bottom: 30px;
    }
}
