/*--------------------------------------
	Max Width Responsive CSS
--------------------------------------*/



@media only screen and (max-width: 1200px){
	.back-cate {
	  	padding: 6px 13px 4px;
	}
	.back-hero-area .back-hero-bottom li .back-btm-content h3 {
	  	font-size: 15px;
	  	line-height: 22px;
	}
}


@media only screen and (max-width: 1200px) and (min-width: 992px)  {
	.back-menus > li > a{
		font-size: 13px;
	}
	.social-links li a {
	  	width: 32px;
	  	height: 32px;
	  	line-height: 35px;
	  	font-size: 12px;
	}
	.container{
		max-width: 1080px;
	}
	.back-footer .footer-top .footer-widget.footer-widget-2 {
	  	padding-left: 30px;
	}
}



@media only screen and (max-width: 1100px){
	.back-menus > li > a {
	    font-size: 13px;
	}
	.back-footer .copyright .back-copy-left,
	.back-footer .copyright .back-copy-right ul li a{
	  	font-size: 14px;
	}
	.back-menus > li > a {
	    padding: 26px 25px 26px 25px;
	}
}



@media only screen and (min-width: 992px){

	/********* Mega Menu *********/
    .back-inner-menus .back-menus > .has-sub > a{
        position: relative;
    }
    img.mobile{
    	display: none !important;
    }
    .back-inner-menus .back-menus > .has-sub > a:before{
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid;
        display: block;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);
        opacity: 0.5;        
    }

    .back-inner-menus .back-menus > .has-sub.menu-active > a:before{
        content: "";
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 6px solid;
        border-top: 0px solid;
        display: block;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);
    }
    .searchbar-part.back-search-mobile{
    	display: none;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 992px)  {
	.back-menus {
	    padding: 0 0 0 20px;
	}
}

@media screen and (max-width: 991px) {
	.menu-toggle #menu-btn{
		background: #2a6df5;
		border-color: #2a6df5;
	}

    html.back-dark .back-menus li{
      	background: #101010;
      	border-bottom-color: #222;
    }
    html.back-dark .back-menus .has-sub .arrow {
      	background: #030c26;
      	border-left: 1px solid #101010;
    }
    html.back-dark .back-menus .has-sub.menu-active > .arrow::after,
    html.back-dark .back-menus .has-sub .arrow::after {
      	border-top-color: #fff;
      	border-bottom-color: #fff;
  	}
  	html.back-dark .back-menus > li ul.sub-menu > li {
  	  	border-top-color: #222;
  	}
  	html.back-dark .back-menus li a:hover {
	  background: #101010 !important;
	}
  	.back-sidebar ul.recent-comments li .post-images {
  	  	flex: unset;
  	}
  	.back-blog-page .single-blog .blog-content {
  	  	padding: 40px 0px 0;
  	}
  	.back-header .logo{
  		flex: 1;
  	}
  	.back-hero-area .back-hero-bottom {
		padding-left: 0;
  	}
  	.back-footer .footer-top .back-newsletter{
  		max-width: 400px;
  	}
  	.back-latest-posts .back-hero-bottom li {
  	  	align-items: center;
  	}
  	.pl-30 {
  	  	padding-left: 14px;
  	}
  	.back-whats-posts .back-hero-bottom.back-hero-bottom2 {
  	  	margin-left: 0;
  	  	margin-bottom: 40px;
  	}
  	.back-latest-posts .back-hero-bottom li .image-areas {
		flex: 0 0 20%;
		max-width: 20%;
  	}
  	.back-header .searchbar-part ul li.nav-expander,
  	.searchbar-part.back-search-desktop{
  		display: none;
  	}
  	.searchbar-part.back-search-mobile{
  		padding-right: 15px;
  	}
  	.back-header .searchbar-part ul li.back-sign a {
		padding: 16px 22px;
		border-radius: 5px;
		line-height: 25px;
  	}
  	.back-header .menu-part{
  		box-shadow: 0 0 45px rgba(0,0,0,.055);
  	}
    
    .back-blog-page .back-sidebar{
    	padding-top: 80px;
    }
    .back-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .breadcrumbs-title {
        font-size: 40px;
    }
   
    .back-contact-page .blog-form form .pdl-5 {
        padding-left: 12px;
    }
    .back-contact-page #contact-form{
    	padding-top: 50px;
    }
    
	.back-menus > li > a {
	    padding: 14px 14px 14px 24px;
	    font-size: 15px;
	}
	.back-main-menu .menu-toggle {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
	.back-menus li ul.sub-menu li a {
	    padding: 12px 40px 12px 50px;
	}
	.back-menus li ul.sub-menu{
		padding: 0;
	}
	
	.back-footer .footer-top .footer-widget.footer-widget-2 {
	    padding-left: 0;
	}
	.back-footer .copyright .container {
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.back-footer .copyright .back-copy-right ul {
	    display: block;
	}
	.back-footer .copyright .back-copy-right ul li {
	    padding-left: 0;
	}
	.back-footer .copyright .back-copy-left{
		order: 2;
	}
	.back-footer .copyright .back-copy-left, .back-footer .copyright .back-copy-right{
	    flex: 0 0 100%;
	}
}



@media screen and (max-width: 767px) {
	.back-blog-page .single-blog .blog-content .blog-title {
	  	font-size: 30px;
	  	line-height: 40px;
	}
	.back-blog-page .single-blog .blog-content .top-part li {
	  	padding-right: 15px;
	}
	
	.back-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .breadcrumbs-title {
	    font-size: 40px;
	}
}

@media screen and (max-width: 600px) {
	.back-header .searchbar-part ul li.back-sign a {
	  	padding: 16px 12px;
	}
	.back-header .searchbar-part ul li {
	  	margin-left: 15px;
	}
	.back-title h2:before,
	.back-title h2:after{
		display: none;
	}
	.back-whats-posts.back-feature-posts .back-hero-bottom.back-hero-bottom2 li {
	  	display: block;
	}
	.back-whats-posts.back-feature-posts .back-hero-bottom.back-hero-bottom2 li .image-areas {
	  	flex: 0 0 100%;
	  	max-width: 100%;
	}
	.back-whats-posts.back-feature-posts .back-hero-bottom.back-hero-bottom2 li .back-btm-content {
	  	flex: 0 0 100%;
	  	max-width: 100%;
	  	padding: 40px 20px 40px 20px;
	}
	.back-whats-posts.back-feature-posts ul.back-meta li {
	  	padding-right: 16px;
	}
}

@media screen and (max-width: 480px) {
	.back-header .searchbar-part ul li.back_search{
		display: none;
	}
	.back-header .logo img {
	  	height: 30px;
	}
	.back-title h2 {
	  	font-size: 25px;
	  	line-height: 35px;
	}
	.back-breadcrumbs .breadcrumbs-wrap .breadcrumbs-inner .breadcrumbs-text .breadcrumbs-title {
	  	font-size: 30px;
	}
}

@media screen and (max-width: 450px) {
	.back-blog-page .single-blog .blog-content .top-part{
		display: block;
	}
	.back-blog-page .single-blog .blog-content .top-part li{
		margin-bottom: 10px;
	}
}